<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email Template</title>
    <style>
      /* General reset styles for HTML emails */ body, table, td, a { -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%; font-family: "Open Sans", sans-serif; } table, td { mso-table-rspace: 0pt;
      mso-table-lspace: 0pt; } img { -ms-interpolation-mode: bicubic; } img, table { border: 0; } table {
      border-collapse: collapse !important; } body { width: 100% !important; height: 100% !important; margin: 0;
      padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } a { text-decoration: none;
      color: inherit; } /* Custom styles */ .container { max-width: 600px; width: 100%; background-color: #ffffff;
      margin: 20px auto; /* Add space outside the container */ padding: 20px; /* Add space inside the container */
      border-radius: 6px; overflow: hidden; box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); } .header, .footer { padding:
      20px; text-align: center; background-color: #ffffff; } .footer { font-size: 12px; color: #666666; } .content {
      padding: 20px; text-align: center; } .btn { display: inline-block; padding: 10px 20px; background-color: #3b82f6;
      color: #ffffff; border-radius: 4px; font-weight: bold; margin-top: 20px; } .btn:hover { background-color: #2563eb;
      } .highlight { color: #2563eb; }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
